---
---

@import "{{ site.theme }}";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  color: #222;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

main h2, main h3, main h4 {
  padding-bottom: 15px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  /*left: 0;*/
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*border-right: 1px solid #eee;*/
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 1;
  color: #2288bb;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #2288bb;
}

.sidebar .tag-h2 a {
  margin-left: 15px;
}

/*
  Footer
 */

.site-footer {
  padding: 20px;
}

/*
 * Tables
 */

main table th, main table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

/*
 Code formatting
 */

pre[class="highlight"] {
  padding: 10px;
}


/***** badges table styles *****/

.badges-table div[class^="col"] {
  height: 110px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.badges-table img {
  max-height: 100%;
  max-width: 100%;
}
