---
---

@import "{{ site.theme }}";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  color: #222;
}

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/**** layout ver 2 *****/

/* main content */
.bd-content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

/* right table of content */
.bd-toc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

.bd-toc .nav-link {
  border-radius: 1;
  /*color: #007bff;*/
  color: #2288bb;
}

.bd-toc .tag-h3 a {
  margin-left: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #2288bb;
}

main h2, main h3, main h4 {
  margin: 15px 0px;
}

blockquote {
  padding: 0 1em;
  border-left: 0.5em solid #2288bb;
  background-color: #f8f8f8;
  padding: 12px 12px 2px 12px;
}

/*
  Search
 */

#searchBox {
  width:160px;
}

/*
  Footer
 */

.site-footer {
  padding: 20px;
}

/*
 * Tables
 */

main table th, main table td {
  padding: 0.5rem 1rem;
  border: 1px solid #e9ebec;
}

main table {
  margin: 15px 0;
}

/*
 Code formatting
 */

pre[class="highlight"] {
  padding: 10px;
}

/***** badges table styles *****/

.badges-table div[class^="col"] {
  height: 110px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.badges-table img {
  max-height: 100%;
  max-width: 100%;
}
