<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="description" content="{{ page.description | default: site.description | default: site.github.project_tagline }}"/>
    <meta name="author" content="Aleksei Semidotskii">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#2288bb">
    <link rel="icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/brands.css" integrity="sha384-ATC/oZittI09GYIoscTZKDdBr/kI3lCwzw3oBMnOYCPVNJ4i7elNlCxSgLfdfFbl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/fontawesome.css" integrity="sha384-Lyz+8VfV0lv38W729WFAmn77iH5OSroyONnUva4+gYaQTic3iI2fnUKtDSpbVf0J" crossorigin="anonymous">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container d-flex justify-content-between">
            <a class="navbar-brand" href="/">
                <img src="{{ '/assets/logo.png' | relative_url }}" width="30" height="30" class="d-inline-block align-top" alt="A7">
                Development
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">.NET</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/pages/frameworks/nodejs/nodejs-index">Node.js</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/pages/frameworks/angular/angular-index">Angular</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/pages/languages/js/index">JavaScript</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/pages/badges/badges-wall">About Me</a>
                </li>
              </ul>
            </div>

            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
              <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/aleksei-semidotskii" title="LinkedIn" target="_blank">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/asemidotsky" title="Github" target="_blank">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://stackoverflow.com/users/2180096/aleksei-semidotskii?tab=profile" title="Stackoverflow" target="_blank">
                  <i class="fab fa-stack-overflow"></i>
                </a>
              </li>
              <form class="form-inline ml-md-3">
                <input class="form-control" type="text" placeholder="Search soon..." aria-label="Search">
              </form>
            </ul>
          </div>
        </nav>
      </header>
  
      <div class="container mt-4">
        <div class="row  flex-xl-nowrap">
          <nav class="d-none d-md-block col-md-3 col-lg-2 bd-toc">
            <ul id="sidebarNavList" class="nav nav-pills flex-column">
            </ul>
          </nav>
          <main role="main" class="col-12 col-md-9 col-lg-10 py-md-3 pl-md-5 bd-content">
            {{ content }}

            <footer class="site-footer">
                <span class="site-footer-credits">© 2017-2018 Software development craftsmanship by <a href="{{ site.github.owner_url }}">Aleksei Semidotskii</a>.</span>
            </footer>
          </main>

      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
