/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/*
 * Typography
 */

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar for version 1
 */

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  /*right: 0;*/
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*border-left: 1px solid #eee;*/
}
/*
.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}*/


/**** layout ver 2 *****/

/* main content */
.bd-content {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

/* right table of content */
.bd-toc {
  position: -webkit-sticky;
  position: sticky;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow-y: auto;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: .875rem;
}

.bd-toc .nav-link {
  border-radius: 1;
  /*color: #007bff;*/
  color: #2288bb;
}

.bd-toc .tag-h3 a {
  margin-left: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #2288bb;
}

main h2, main h3, main h4 {
  margin: 15px 0px;
}

#searchBox {
  width:160px;
}